.nav {
    padding: 0 50px;
    height: 100px;
    position: relative;
    background-color: #f3f3f3;
}

.nav .user {
    float: left;
    line-height: 100px;
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.nav .user > li {
    float: left;
    position: relative;
    display: block;
}

.nav .user .user-avatar {
    width: 80px;
}

.nav .user .user-avatar img {
    width: 100%;
    border-radius: 50%;
}

.nav .user .user-info {
    margin: 0 20px;
    font-size: 16px;
}

.nav .logo {
    float: left;
    line-height: 100px;
    font-size: 45px;
    color: #666;
}

.nav .logosm {
    float: left;
    line-height: 100px;
    font-size: 30px;
    color: #666;
    margin-left: 10px;
}

.nav .extra-button {
    float: right;
    position: relative;
    top: 25px;
    z-index: 1;
    right: 80px;
}

/*.wt-list {*/
    /*border-bottom: 2px solid #6099b7;*/
/*}*/

.wt-list .header {
    text-align: center;
    background-color: #6099b7;
    color: #fff;
    font-size: 24px;
    margin: 0 -15px;
    padding: 5px;
    letter-spacing: 15px;
}

/*#chapter-select {*/
.chapter-select {
    /*position: static;*/
    top: 25px;
    /*width: 200px;*/
    /*right: 10%;*/
    width: 100%;
    /*width: 65%;*/
    max-width: 220px;
    right: -25%;
    z-index: 1;
}

.wt-list .mark {
    position: absolute;
    font-size: 50px;
    padding: 0px 16px;
    line-height: 70px;
    border-radius: 2px;
    top: -25px;
}

.wt-list .mark.Q {

    background-color: #fff;
    color: #6099b7;
    left: 30px;
    border-bottom-right-radius: 0;


    /*background-color: #fff;*/
    /*color: #6099b7;*/
    /*font-size: 20px;*/
    /*top:0px;*/
    /*right: 0px;*/
    /*border-bottom-right-radius: 0;*/
}

.wt-list .mark.Q .mark-tail {
    border: 8px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: 0;
}

.wt-list .mark.A {
    background-color: #c8dce7;
    color: #fff;
    right: 30px;
    border-bottom-left-radius: 0;
    /*background-color: #c8dce7;*/
    /*color: #6099b7;*/
    /*font-size: 20px;*/
    /*border-bottom-left-radius: 0;*/
    /*top:0px;*/
    /*right: 0px;*/
}

.wt-list .mark.A .mark-tail {
    border: 8px solid #c8dce7;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    /*left: 0;*/
    right: 0;
}

.wt-list .mark.E {
    /*background-color: #c8dce7;*/
    background-color: #fff;
    font-size: 20px;
    /*font-size: 35px;*/
    /*color: #fff;*/
    /*right: 30px;*/
    color: #6099b7;
    border-bottom-left-radius: 0;
    top:0px;
    right: 0px;
}
.wt-list .mark.E .mark-tail {
    /*border: 8px solid #c8dce7;*/
    border: 8px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: 0;
}
.wt-list .wt-description-list {
    position: relative;
    background-color: #c8dce7;
    padding: 80px 5% 40px;
    height: 720px;
}

.wt-list .wt-explanation-list {
    position: relative;
    /*background-color: #fff;*/
    background-color: #f8f8f8;
    padding: 80px 5% 40px;
    height: 720px;
}

.wt-list .wt-essential-list {
    position: relative;
    background-color: #dce1e3;
    padding: 80px 5% 40px;
    height: 720px;
}

.wt-list .contents {
    list-style: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.wt-list .contents li {
    padding: 10px 0;
}

.wt-list .contents li:hover {
    cursor: pointer;
}

.wt-list .contents p {
    margin-bottom: 0;
}

.wt-list .contents .extra {
    width: 50px;
    float: left;
}

.wt-list .contents .content {
    position: relative;
    margin-left: 50px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    /* text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}

.commentbg {
    background-color: #c8dce7;
    color: #fff;
    right: 30px;
    border-bottom-left-radius: 0;
}

#commentmodule {
    width: 100%;
    height: 280px;
    position: fixed;
    bottom: 0;
    display: none
}

#commentLeft {
    width: 35%;
    height: 280px;
    background-color: #6099b7;
    float: left;
}

#commentRight {
    width: 65%;
    height: 280px;
    /*background-color: #b5b5b5;*/
    /*background-color: #c8dce7;*/
    background-color: #f3f3f3;
    float: right;
}

.commentBk {
    width: 100%;
    height: 100%;
    padding: 20px
}

.replybtn {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 45px;
    height: 25px;
}

#commentsDiv {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /*background-color: #3c763d*/
}

.commentCell {
    width: 100%;
    /*height: 85px;*/
    /*background-color: #31b0d5;*/
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #8f8f8f;
}

.commentCellLeft {
    /*width: 10%;*/
    width: 80px;
    text-align: center;
    float: left;
    display: table;
}

.commentCellCenterOutline {
    /*float: left;*/
    /*width: 73%;*/
    height: 100%;
    /*background-color: rebeccapurple;*/
    display: table
}

.commentCellCenterHolder {
    /*width:500px;*/
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    /*background-color: #4cae4c*/
}

.commentCellYhm {
    /*color: white;*/
    margin-top: 5px
}

.commentLeftTail {
    border: 5px solid #dadada;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    float: left;
    margin-top: 10px;
}

.commentCellContent {
    background-color: #dadada;
    border-radius: 3px;
    color: #666666;
    /*width:95%;*/
    padding: 5px;
    /*float: left*/
    margin-left: 10px;
    margin-right: 10px;
}

.commentCellRight {
    float: right;
    /*width: 20%;*/
    width: 135px;
    height: 100%;
    display: table;
    /*background-color:gold;*/
    /*padding-left: 10px;*/
    padding-right: 10px;
    /*color: white;*/
    text-align: right
}

.commentCellRightFirstLine {
    width: 100%;
    height: 20px;
    font-size: 12px;
}

.fullWidth {
    width: 100%;
}

.commentCellIcon {
    border-radius: 50%;
    width: 50px
}

.heartImg {
    width: 20px;
    height: 20px;
    /*background-color: red*/
}

.replyName {
    /*width: 40px;*/
    width: auto;
    float: left;
    color: #1b6d85;
}

.replycontent {
    position: relative;
    margin-left: 1px;
    height: 40px;
    /*line-height: 6px;*/
    /*overflow: hidden;*/
    color: #666666;
    /* text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
}

.replysubmitbtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.logincenter {
    width: 400px;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    /*border-radius: 6px;*/
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    margin: 0 auto;
    /*margin-top: 30%;*/
}

input:-ms-input-placeholder {
    color: #6099b7;
}

input::-webkit-input-placeholder {
    color: #6099b7;
}

input:-moz-placeholder {
    color: #6099b7;
}

input::-moz-placeholder {
    color: #6099b7;
}

.pdescription{
    /*text-indent: 0.3888889in;*/
    text-align: start;
    hyphenate: auto;
    /*font-family: 宋体;*/
    font-size: 13pt;
}
.pessential{
    text-indent: 0.3888889in;
    text-align: start;
    hyphenate: auto;
    font-family: 楷体;
    font-size: 13pt;
}
.pexplanation{
    text-indent: 0.3888889in;
    text-align: start;
    hyphenate: auto;
    font-family: 宋体;
    font-size: 12pt;
}
.contentIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dce1e3;
    line-height: 40px;
    text-align: center;
    color: #000;
    float: left;
    font-size: 13pt;
    font-weight: bold;
}
.contentIcon2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dce1e3;
    line-height: 40px;
    text-align: center;
    color: #000;
    float: left;
    font-size: 13pt;
    /*font-weight: bold;*/
}

.contentIcon3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dce1e3;
    line-height: 20px;
    text-align: center;
    color: #000;
    float: left;
    font-size: 12px;
    /*font-size: 13pt;*/
    /*font-weight: bold;*/
}

.bookpage::-webkit-scrollbar{
    width: 8px;
    height: 1px;
}

.bookpage::-webkit-scrollbar-thumb{
    border-radius: 2px;
    /*-webkit-box-shadow:inset 0 0 5px rgba(32,113,216,0.8) ;*/
    /*background: #535353;*/
    /*background: rgb(215, 234, 247);*/
    background: rgba(41, 154, 172,0.5);
    /*background-color: #299aac;*/
}
.bookpage::-webkit-scrollbar-track{
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    border-radius: 2px;
    /*background: #EDEDED;*/
    background: #e6e4de;
}

.boxitem::-webkit-scrollbar{
    width: 8px;
    height: 1px;
}
.boxitem::-webkit-scrollbar-thumb{
    border-radius: 2px;
    /*-webkit-box-shadow:inset 0 0 5px rgba(32,113,216,0.8) ;*/
    /*background: #535353;*/
    /*background: rgb(215, 234, 247);*/
    background-color: #2083d8;
}
.boxitem::-webkit-scrollbar-track{
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    border-radius: 2px;
    background: #EDEDED;
}

.gjjsBox{
    width: 100%;
    height: 240px;
    background-color: #e3ecf5;
    /*margin-bottom: 5px;*/
}
.boxhead{
    width: 100%;
    font-size:15px;
    height: 30px;
    background-color: #2083d8;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    line-height: 30px;
}
.boxitem{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 190px;
    overflow-y: auto
}
a{
    cursor: pointer;
}

a:hover{
    font-weight: bold;
}
.table-bordered>tbody>tr>td{
    /*border: none;*/
    border: 1px solid #fff;
}

#bookcontent{
    background-image: url("/assets/pics/book.png");
    background-position: center top;
    /*background-repeat: repeat-x;*/
    background-size: 100% 100%;
}

#addQuestionContent-modal-content{
    background-image: url("/assets/pics/wtsrtk.png");
    background-position: center top;
    /*background-repeat: repeat-x;*/
    background-size: 100% 100%;
    border-radius: 28px;
}

.addQuestionCell{
    width: 100%;
    height: 80px;
    /*background-color: #5cb85c;*/
    padding: 15px 20px 10px 30px;
}
.addQuestionCell-wt{
    float: left;
    width: 18%;
    height:100%;
    /*background-color: #1b6d85;*/
    color: #2083d8;
}
.addQuestionCell-nr{
    float: right;
    width: 100%;
    height: 24px;
    /*background-color: #8f8f8f;*/
    overflow-y: hidden;
}
.addModelDiv::-webkit-scrollbar{
    border-radius: 3px;
    width: 8px;
    height: 1px;
}
.addModelDiv::-webkit-scrollbar-thumb{
    border-radius: 2px;
    /*-webkit-box-shadow:inset 0 0 5px rgba(32,113,216,0.8) ;*/
    /*background: #535353;*/
    background: rgba(32, 131, 216,0.5);
    /*background-color: #2083d8;*/
}
.addModelDiv::-webkit-scrollbar-track{
    /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
    border-radius: 2px;
    background: #EDEDED;
}


#addQuestiontable tr:nth-child(2n) {
    background: #eff4f9;
}
#addQuestiontable tr:hover{
    /*background-color: #e6e6e6;*/
}