<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>短信模板配置</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <link rel="stylesheet" href="/js/layer/theme/default/layer.css">
    <script src="/js/common/jquery.min.js"></script>
    <script src="/js/common/jquery-3.3.1.js"></script>
    <script src="/js/common/jquery.dataTables.min.js"></script>
    <script src="/js/common/jquery.cookie.js"></script>
    <script src="/js/common/bootstrap.min.js"></script>
    <script src="/js/layui/layui.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/templatejs/template-web.js"></script>
    <script src="/js/common/bootstrap-select.min.js"></script>
    <script src="/js/common/common.js?v=2.0"></script>
</head>
<body>

<div style="background-color: rgb(191,191,191);min-height: 1px"></div>
<div style="margin-left: 1%;margin-right: 1%;margin-top: 20px;background-color: white;min-height: 500px">
    <div style="background-color: rgb(0,169,238);min-height: 3px"></div>
    <div style="margin-top: 10px;min-height: 40px;margin-bottom: 20px;">
        <div style="float: left;margin-left: 20px;margin-top: 5px;font-size: 15px;">
            短信模板配置列表
        </div>

        <div style="margin-left: 20px;float: left">
            <button class="btn btn-primary btm-sm" id="add_dxmb">
                新增
            </button>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-condensed" id="dxmb_table" style="font-size: small">
            <thead>
            <tr>
                <th style="text-align: center;width:5% ">编号</th>
                <th style="text-align: center;width:10%">模板名称</th>
                <th style="text-align: center;width:10%">模板话术语</th>
                <th style="text-align: center;width:10%">模板状态</th>
                <th style="text-align: center;width:10%">模板内容</th>
<!--                <th style="text-align: center;width:5%">添加时间</th>-->
                <th style="text-align: center;width:10%" >操作</th>
            </tr>
            </thead>
            <tbody id="dxmb_tbody">
            </tbody>
        </table>
    </div>
    <!--编辑模态框-->
    <div class="modal fade" id="editDxmbModel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editWebCallModalLabel">
                        编辑模板信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="callFrom">
                        <div class="form-group" style="display: none">
                            <label class="col-sm-3 control-label cus-required">编号：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="bh"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">模板名称：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="mbmc"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">模板话术语：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="mbhsy"></input>
                            </div>
                        </div>
                        <div class="form-group" style="display: none" id="org">
                            <label class="col-sm-3 control-label cus-required">法院：</label>
                            <div class="col-sm-9">
                                <select class="selectFy" id="selectOrg">
                                    <option value="">请选择</option>
                                    <option value="51">天津市高级人民法院</option>
                                    <option value="52">天津市第一中级人民法院</option>
                                    <option value="62">天津市第二中级人民法院</option>
                                    <option value="5015">天津市第三中级人民法院</option>
                                    <option value="72">天津海事法院</option>
                                    <option value="53">天津市和平区人民法院</option>
                                    <option value="54">天津市南开区人民法院</option>
                                    <option value="64">天津市河西区人民法院</option>
                                    <option value="63">天津市河东区人民法院</option>
                                    <option value="55">天津市河北区人民法院</option>
                                    <option value="56">天津市红桥区人民法院</option>
                                    <option value="74">天津市滨海新区人民法院</option>
                                    <option value="68">天津市东丽区人民法院</option>
                                    <option value="69">天津市津南区人民法院</option>
                                    <option value="57">天津市西青区人民法院</option>
                                    <option value="58">天津市北辰区人民法院</option>
                                    <option value="59">天津市武清区人民法院</option>
                                    <option value="61">天津市宝坻区人民法院</option>
                                    <option value="60">天津市静海区人民法院</option>
                                    <option value="70">天津市宁河区人民法院</option>
                                    <option value="73">蓟州区人民法院</option>
                                    <option value="24">天津铁路运输法院</option>
                                    <option value="5047">天津自贸试验区人民法院</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">模板状态：</label>
                            <div class="col-sm-9">
                                <input type="radio" name="editDxmb" id="mbzt1" class="radio-inline" value="0"/>禁用
                                <input type="radio" name="editDxmb" id="mbzt2" class="radio-inline" value="1"/>启用
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">模板内容：</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" id="mbnr"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!--                <button type="button" class="btn btn-default" data-dismiss="modal">取消-->
                    <!--                </button>-->
                    <button type="button" class="btn btn-primary" id="submitEditDxmb">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--新增模态框-->
    <div class="modal fade" id="addDxmbModel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addDxmb">
                        新增模板信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="addFrom">
                        <div class="form-group" style="display: none">
                            <label class="col-sm-3 control-label cus-required">编号：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addbh"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">模板名称：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addmbmc"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">模板话术语：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addmbhsy"></input>
                            </div>
                        </div>
                        <div class="form-group" style="display: none" id="addorg">
                            <label class="col-sm-3 control-label cus-required">法院：</label>
                            <div class="col-sm-9">
                                <select class="selectFy" id="addselectOrg">
                                    <option value="">请选择</option>
                                    <option value="51">天津市高级人民法院</option>
                                    <option value="52">天津市第一中级人民法院</option>
                                    <option value="62">天津市第二中级人民法院</option>
                                    <option value="5015">天津市第三中级人民法院</option>
                                    <option value="72">天津海事法院</option>
                                    <option value="53">天津市和平区人民法院</option>
                                    <option value="54">天津市南开区人民法院</option>
                                    <option value="64">天津市河西区人民法院</option>
                                    <option value="63">天津市河东区人民法院</option>
                                    <option value="55">天津市河北区人民法院</option>
                                    <option value="56">天津市红桥区人民法院</option>
                                    <option value="74">天津市滨海新区人民法院</option>
                                    <option value="68">天津市东丽区人民法院</option>
                                    <option value="69">天津市津南区人民法院</option>
                                    <option value="57">天津市西青区人民法院</option>
                                    <option value="58">天津市北辰区人民法院</option>
                                    <option value="59">天津市武清区人民法院</option>
                                    <option value="61">天津市宝坻区人民法院</option>
                                    <option value="60">天津市静海区人民法院</option>
                                    <option value="70">天津市宁河区人民法院</option>
                                    <option value="73">蓟州区人民法院</option>
                                    <option value="24">天津铁路运输法院</option>
                                    <option value="5047">天津自贸试验区人民法院</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">模板状态：</label>
                            <div class="col-sm-9">
                                <input type="radio" name="addDxmb" class="radio-inline" value="0"/>禁用
                                <input type="radio" name="addDxmb" class="radio-inline" checked value="1"/>启用
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">模板内容：</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" id="addmbnr"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submitAddDxmb">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<script id="test" type="text/html">
    {{each list value i}}
    <tr>
        <td style="text-align: center">{{list[i].bh}}</td>
        <td>{{list[i].mbmc}}</td>
        <td>{{list[i].mbhsy}}</td>
        <td>{{if list[i].mbzt == '1'}}
            启用
            {{/if}}
            {{if list[i].mbzt == '0'}}
            禁用
            {{/if}}
        </td>
        <td>{{list[i].mbnr}}</td>
<!--        <td>{{list[i].cjsj}}</td>-->
        <td>
            <button class="btn btn-primary" type="button" onclick="editDxmb(this)" data-index="{{i}}">编辑</button>
        </td>
    </tr>
    {{/each}}
</script>
<script src="/js/gd/dxmbList.js?v=1.171"></script>
<style>


     #circle {
         border-radius: 50%;
         -moz-border-radius: 50%;
         -webkit-border-radius: 50%;
     }

    body {
        background-color: rgb(241, 241, 241);
    }




    .layui-laydate .layui-this {
        background-color: #2D93CA !important;
        color: #fff!important;
    }
</style>
</body>
</html>

