<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员绩效管理</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <link rel="stylesheet" href="/js/layer/theme/default/layer.css">
    <script src="/js/common/jquery.min.js"></script>
    <script src="/js/common/jquery-3.3.1.js"></script>
    <script src="/js/common/jquery.dataTables.min.js"></script>
    <script src="/js/common/jquery.cookie.js"></script>
    <script src="/js/common/bootstrap.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/templatejs/template-web.js"></script>
    <script src="/js/common/bootstrap-select.min.js"></script>
    <script src="/js/common/common.js?v=2.0"></script>
    <script src="/js/layui/layui.js"></script>
</head>
<body>
<div style="background-color: rgb(191,191,191);min-height: 1px"></div>
<div style="margin-left: 1%;margin-right: 1%;margin-top: 20px;background-color: white;min-height: 500px">
    <div style="background-color: rgb(0,169,238);min-height: 3px"></div>
    <div style="margin-top: 10px;min-height: 40px;margin-bottom: 20px;">
        <div style="float: left;margin-left: 20px;margin-top: 5px;font-size: 15px;">
            绩效管理列表
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-condensed" id="jxgl_table" style="font-size: small">
            <thead>
            <tr>
                <th style="text-align: center;" colspan="1">用户名称</th>
                <th style="text-align: center;" colspan="1">工单绩效</th>
                <th style="text-align: center;" colspan="2">反馈总量</th>
                <th style="text-align: center;" colspan="2">反馈成功</th>
                <th style="text-align: center;" colspan="2">反馈失败</th>
                <th style="text-align: center;" colspan="2">成功率</th>
                <th style="text-align: center;" colspan="2">超期数量</th>
                <th style="text-align: center;">平均时间</th>
                <th style="text-align: center;" colspan="1">响应时长</th>
                <th style="text-align: center;" colspan="2">任务响应</th>
                <th style="text-align: center;" colspan="2">委托响应</th>
                <th style="text-align: center;">平均时间</th>
                <th style="text-align: center;" colspan="1">送达人数</th>
                <th style="text-align: center;" colspan="2">任务响应</th>
                <th style="text-align: center;" colspan="2">委托响应</th>
            </tr>
            </thead>
            <tbody id="user_tbody">
            </tbody>
        </table>
    </div>
    <!--编辑模态框-->
    <div class="modal fade" id="editUserModel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editUserModalLabel">
                        编辑用户信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="userFrom">
                        <div class="form-group" style="display: none">
                            <label class="col-sm-3 control-label cus-required">编号：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="yhbh"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">智法员工标识：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="zfygbs" ></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">用户代码：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="yhdm" disabled></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">用户密码：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="yhkl"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">用户名称：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="yhmc"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">坐席：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="zx"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">用户角色：</label>
                            <div class="col-sm-9">
                                <input type="radio" name="yhjs" id="yhjs1" class="radio-inline" value="admin"/>管理员
                                <input type="radio" name="yhjs" id="yhjs2" class="radio-inline" value="user"/>送达专员
                                <input type="radio" name="yhjs" id="yhjs3" class="radio-inline" value="zjzy"/>直接专员
                            </div>
                        </div>
                        <div class="form-group" style="display: none" id="org">
                            <label class="col-sm-3 control-label cus-required">法院：</label>
                            <div class="col-sm-9">
                                <select class="selectFy" id="selectOrg">
                                    <option value="">请选择</option>
                                    <option value="51">天津市高级人民法院</option>
                                    <option value="52">天津市第一中级人民法院</option>
                                    <option value="62">天津市第二中级人民法院</option>
                                    <option value="5015">天津市第三中级人民法院</option>
                                    <option value="72">天津海事法院</option>
                                    <option value="53">天津市和平区人民法院</option>
                                    <option value="54">天津市南开区人民法院</option>
                                    <option value="64">天津市河西区人民法院</option>
                                    <option value="63">天津市河东区人民法院</option>
                                    <option value="55">天津市河北区人民法院</option>
                                    <option value="56">天津市红桥区人民法院</option>
                                    <option value="74">天津市滨海新区人民法院</option>
                                    <option value="68">天津市东丽区人民法院</option>
                                    <option value="69">天津市津南区人民法院</option>
                                    <option value="57">天津市西青区人民法院</option>
                                    <option value="58">天津市北辰区人民法院</option>
                                    <option value="59">天津市武清区人民法院</option>
                                    <option value="61">天津市宝坻区人民法院</option>
                                    <option value="60">天津市静海区人民法院</option>
                                    <option value="70">天津市宁河区人民法院</option>
                                    <option value="73">蓟州区人民法院</option>
                                    <option value="24">天津铁路运输法院</option>
                                    <option value="5047">天津自贸试验区人民法院</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">明文外显：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="mwwx"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">修复外显：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="xfwx"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">移动外显：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="ydwx"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">联系电话：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="lxdh"></input>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <!--                <button type="button" class="btn btn-default" data-dismiss="modal">取消-->
                    <!--                </button>-->
                    <button type="button" class="btn btn-primary" id="submitEditUser">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--新增模态框-->
    <div class="modal fade" id="addUserModel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addUserModalLabel">
                        新增用户信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="addUserFrom">
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">智法员工标识：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addzfygbs" ></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">用户代码：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addyhdm" ></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">用户密码：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addyhkl"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">用户名称：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addyhmc"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">坐席：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addzx"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">用户角色：</label>
                            <div class="col-sm-9">
                                <input type="radio" name="addyhjs" id="addyhjs1" class="radio-inline" value="admin"/>管理员
                                <input type="radio" name="addyhjs" id="addyhjs2" class="radio-inline" checked value="user"/>送达专员
                                <input type="radio" name="addyhjs" id="addyhjs3" class="radio-inline" value="zjzy"/>直接专员
                            </div>
                        </div>
                        <div class="form-group" style="display: none" id="addorg">
                            <label class="col-sm-3 control-label cus-required">法院：</label>
                            <div class="col-sm-9">
                                <select class="selectFy" id="addselectOrg">
                                    <option value="">请选择</option>
                                    <option value="51">天津市高级人民法院</option>
                                    <option value="52">天津市第一中级人民法院</option>
                                    <option value="62">天津市第二中级人民法院</option>
                                    <option value="5015">天津市第三中级人民法院</option>
                                    <option value="72">天津海事法院</option>
                                    <option value="53">天津市和平区人民法院</option>
                                    <option value="54">天津市南开区人民法院</option>
                                    <option value="64">天津市河西区人民法院</option>
                                    <option value="63">天津市河东区人民法院</option>
                                    <option value="55">天津市河北区人民法院</option>
                                    <option value="56">天津市红桥区人民法院</option>
                                    <option value="74">天津市滨海新区人民法院</option>
                                    <option value="68">天津市东丽区人民法院</option>
                                    <option value="69">天津市津南区人民法院</option>
                                    <option value="57">天津市西青区人民法院</option>
                                    <option value="58">天津市北辰区人民法院</option>
                                    <option value="59">天津市武清区人民法院</option>
                                    <option value="61">天津市宝坻区人民法院</option>
                                    <option value="60">天津市静海区人民法院</option>
                                    <option value="70">天津市宁河区人民法院</option>
                                    <option value="73">蓟州区人民法院</option>
                                    <option value="24">天津铁路运输法院</option>
                                    <option value="5047">天津自贸试验区人民法院</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">明文外显：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addmwwx"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">修复外显：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addxfwx" value="02223252035"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">移动外显：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addydwx" value="01086409345"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label cus-required">联系电话：</label>
                            <div class="col-sm-9">
                                <input class="form-control-static" id="addlxdh" placeholder="请输入手机号"></input>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <!--                <button type="button" class="btn btn-default" data-dismiss="modal">取消-->
                    <!--                </button>-->
                    <button type="button" class="btn btn-primary" id="submitAddUser">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
</div>

<script id="test" type="text/html">
    {{each list value i}}
    <tr>
        <td>{{list[i].yhdm}}</td>
        <td>{{list[i].yhkl}}</td>
        <td>{{list[i].yhmc}}</td>
        <td>{{list[i].yhjs}}</td>
        <td>{{list[i].seatnumber}}</td>
        <td>{{list[i].entryshow}}</td>
        <td>{{list[i].cuccshow}}</td>
        <td>{{list[i].cmccshow}}</td>
        <td>{{list[i].lxdh}}</td>
        <td>
            <button class="btn btn-primary" type="button" onclick="editUser(this)" data-index="{{i}}">编辑</button>
        </td>
    </tr>
    {{/each}}
</script>
<script src="/js/gd/userList.js?v=1.172"></script>
<style>


    #circle {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    body {
        background-color: rgb(241, 241, 241);
    }




    .layui-laydate .layui-this {
        background-color: #2D93CA !important;
        color: #fff!important;
    }
</style>
</body>
</html>

