<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>法官-短信通知列表</title>
    <link rel="stylesheet" href="/css/wbrywdsd_new.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <link rel="stylesheet" href="js//layer/theme/default/layer.css">
    <script src="/js/common/jquery.min.js"></script>
    <script src="/js/common/jquery-3.3.1.js"></script>
    <script src="/js/common/jquery.dataTables.min.js"></script>
    <script src="/js/common/jquery.cookie.js"></script>
<!--    <script src="/js/common/bootstrap.min.js"></script>-->
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/js/layui/layui.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/templatejs/template-web.js"></script>
    <script src="/js/common/bootstrap-select.min.js"></script>
    <script src="/js/common/common.js?v=2.0"></script>
</head>
<body>

<div id="top" class="fixed-top d-flex flex-column" style="height: 15%;">
    <div class="d-flex bd-highlight" style="height: 75%;">
        <div style="width:25%">
            <div id="logo" class="float-left align-middle" style="margin-left: 17%;margin-top: 4%;font-size: 13px;">
            </div>
        </div>
        <div class="d-flex flex-column" style="width: 75%;">
            <div style="height: 40%;">
                <div class="float-right" style="font-size:13px; color: white;padding-top: 1%;padding-right: 4%;">
                    <span style="font-size: 18px">欢迎您 <span id="userName"></span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <button id="logout"  type="button" class="btn btn-default"
                            style="color:white;float: right;padding: 0px">退出系统
                    </button>
                </div>
                <div>
                    <div class="d-flex flex-row float-right" style="padding-right: 20%;font-size: 14px;">
                        <!--                        <a href="#dhsd" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">电话送达</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#dxtz" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label focus">短信通知</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#lylq" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">来院领取</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#emssd" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">EMS送达</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#zjsd" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">直接送达</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#wtdc" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">委托送达</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#ggsd" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">公告送达</div>-->
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right" style="font-size: 14px;padding-left: 8%;">
        当前位置：首页 - 短信通知列表
    </div>
</div>
<div style="background-color: rgb(191,191,191);min-height: 1px"></div>
<div style="margin-left: 1%;margin-right: 1%;margin-top: 10%;background-color: white;min-height: 500px">
    <div style="background-color: rgb(0,169,238);min-height: 3px"></div>
    <div style="margin-top: 10px;min-height: 35px">
        <div style="float: left;margin-left: 20px">
<!--            短信通知列表-->
            <div id="return_main" style="float: right;margin-right: 10px">
                <button class="btn btn-primary btm-sm" >
                    返回
                </button>
            </div>
           </div>

    </div>
<!--    <div>-->
<!--        <div style="margin-left: 20px;float: left;">-->
<!--            <select style="width: 100px; height: 35px;" id="select_send_state">-->
<!--                <option value="-1">全部</option>-->
<!--                <option value="1">发送成功</option>-->
<!--                <option value="2">发送失败</option>-->
<!--                <option value="0">发送中</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-condensed" id="dxtzjbxx_table">
            <thead>
            <tr>
                <th style="text-align: center;width:5% ">序号</th>
                <th style="text-align: center;width:20%">案号</th>
                <th style="text-align: center;width:25%">受送达当事人</th>
                <th style="text-align: center;width:10%">接收号码</th>
                <th style="text-align: center;width:10%">下发时间</th>
                <th style="text-align: center;width:10%">短信内容</th>
                <th style="text-align: center;width:10%">文书详情</th>
                <th style="text-align: center;width:10%">访问状态</th>
                <th style="text-align: center;width:10%">发送状态</th>
            </tr>
            </thead>
            <tbody id="dxtzjbxx_tbody">
            </tbody>
        </table>
    </div>
</div>


<script id="dxtz_td_body" type="text/html">
    {{if isAdmin}}
    {{each list value i}}
    <tr>
        <td style="text-align: center">{{i+1}}</td>
        <td>{{list[i].ah}}</td>
        <td>{{list[i].dsrmc}}</td>
        <td>{{list[i].dh}}</td>
        <td>{{list[i].creattime}}</td>
        <td>
            <button data-hint="{{list[i].msgContent}}"  class="btn btn-primary msgcontent-look" type="button">查看</button>
        </td>
        <td>
            {{if list[i].cusid}}
            <button data-hint="{{list[i].cusid}}" class="btn btn-primary look_zy" type="button">查看</button>
            {{else}}
            暂无
            {{/if}}
        </td>
        <td>
            {{if list[i].fwzt}}
            {{if list[i].fwzt==0}}
            未访问
            {{else if list[i].fwzt==1}}
            已访问
            {{/if}}
            {{else}}
            暂无
            {{/if}}
        </td>
        <td>
            {{if list[i].sendStatus==1}}
            发送成功
            {{else if list[i].sendStatus==2}}
            发送失败
            {{else}}
            发送中
            {{/if}}
        </td>
    </tr>
    {{/each}}
    {{/if}}
</script>
<script src="/js/fg/fgDxtzList.js?v=1.4"></script>
<style>
    #circle{
        border-radius: 50%;      -moz-border-radius: 50%;      -webkit-border-radius: 50%;
    }
    body{
        background-color: rgb(241,241,241);
    }
    .add-lylq-form{
        width: 400px;
    }
    .col-sm-2{
        padding-left: 0px !important;
    }
    .cus-required:before{
        content: "*";
        color: red;
    }
    .dxmb-param.form-control{
        display: inline;
        width: auto;
        margin-top: 5px;
    }
    .input-error{
        border: 1px solid red;
    }
</style>
</body>
</html>

