<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>法官-送达反馈信息表</title>
    <link rel="stylesheet" href="/css/wbrywdsd_new.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/common/jquery.min.js"></script>
    <script src="/js/common/jquery-3.3.1.js"></script>
    <script src="/js/common/jquery.dataTables.min.js"></script>
    <script src="/js/common/jquery.cookie.js"></script>
    <script src="/js/cobootstrap.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/templatejs/template-web.js"></script>
    <script src="/js/common/common.js?v=2.1"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>

<!--<div style="width: 100%;height: 80px;background-color: rgb(0,169,238)">-->
<!--    <div style="padding-top: 10px;padding-left: 30px;">-->
<!--        <div style="float: left">-->
<!--            <img  src="/css/img/mySd_fahui.png" height="50px" width="50px" style="margin-top: 5px">-->
<!--        </div>-->
<!--        <div style="float: left;padding-top: 10px;padding-bottom: 5px;margin-left: 10px;">-->
<!--            <div style="color: white;font-size: 30px;" id="current_fymc">天津市高级人民法院</div>-->
<!--        </div>-->

<!--        &lt;!&ndash;<div  id="logout" class="headLogout"><img src="/css/img/mySD_tuichu.jpg" height="30px" width="100px"> </div>&ndash;&gt;-->
<!--        &lt;!&ndash;<div style="margin-right: 100px">&ndash;&gt;-->
<!--            &lt;!&ndash;<div id="userName"  style="color: white;font-size: 15px;margin-top: 20px;float: right;">&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--            &lt;!&ndash;<div  style="color: white;font-size: 15px;margin-top: 20px;float: right;">欢迎 &nbsp; ! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--        &lt;!&ndash;<div style="float: right">&ndash;&gt;-->
<!--            &lt;!&ndash;<img  src="/css/img/mySd_fahui.png" id="circle" width="50px" height="50px" style="margin-right: 20px;margin-top: 5px">&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<!--<div style="background-color: rgb(245,245,245);min-height: 60px">-->
<!--    <div style="float: left">-->
<!--        <img src="/css/img/mySd_index.png">-->
<!--    </div>-->
<!--    <div style="float: left;margin-top: 15px">-->
<!--        <h5>&nbsp;&nbsp;当前位置：首页 - &nbsp;&nbsp; </h5>-->
<!--    </div>-->
<!--    <div style="float: left;margin-top: 15px">-->
<!--        <h5 style="color: rgb(0,169,238)">工单反馈信息表</h5>-->
<!--    </div>-->
<!--</div>-->
<div id="top" class="fixed-top d-flex flex-column" style="height: 15%;">
    <div class="d-flex bd-highlight" style="height: 75%;">
        <div style="width:25%">
            <div id="logo" class="float-left align-middle" style="margin-left: 17%;margin-top: 4%;font-size: 13px;">
            </div>
        </div>
        <div class="d-flex flex-column" style="width: 75%;">
            <div style="height: 40%;">
                <div class="float-right" style="font-size:13px; color: white;padding-top: 1%;padding-right: 4%;">
                    <span style="font-size: 18px">欢迎您 <span id="userName"></span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <button id="logout"  type="button" class="btn btn-default"
                            style="color:white;float: right;padding: 0px">退出系统
                    </button>
                </div>
                <div>
                    <div class="d-flex flex-row float-right" style="padding-right: 20%;font-size: 14px;">
                        <!--                        <a href="#dhsd" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">电话送达</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#dxtz" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label focus">短信通知</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#lylq" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">来院领取</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#emssd" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">EMS送达</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#zjsd" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">直接送达</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#wtdc" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">委托送达</div>-->
                        <!--                        </a>-->
                        <!--                        <a href="#ggsd" style="color: black;text-decoration:none">-->
                        <!--                            <div class="p-2 label">公告送达</div>-->
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="float-right" style="font-size: 14px;padding-left: 8%;">
        当前位置：首页 - 工单反馈信息表
    </div>
</div>
<div style="background-color: rgb(191,191,191);min-height: 1px"></div>
<div style="margin-left: 1%;margin-right: 1%;margin-top: 10%;background-color: white;">
    <div style="background-color: rgb(0,169,238);min-height: 3px"></div>
    <div style="margin-top: 10px;min-height: 45px;">
        <div style="text-align: center;" id="loading-div">数据加载中，请稍后。。。</div>
        <div style="text-align: center;display: none;" id="btn-div">
            <!--工单反馈信息表-->
            <div id="confirm-div" style="display: inline-block;">
                <button class="btn btn-primary" type="button" id="qrsdfk-btn">确认送达结果/退回</button>
            </div>

            <button class="btn btn-primary" type="button" id="download_sdfk_excel">下载反馈信息(ZIP格式)</button>
            <button class="btn btn-primary" type="button" id="download_sdfk_pdf">下载反馈信息(PDF格式)</button>
        </div>
    </div>
    <div class="col-md-12" style="margin-top: 10px;" id="sdfk-table-div">

    </div>
</div>
<script src="/js/fg/lookFkExcel.js?v=0.7"></script>
<style>
    body{
        background-color: rgb(241,241,241);
    }
    .td-label{
        width: 100px;
        font-weight: bold;
    }
    .td-head-label{
        font-weight: bold;
    }
    .td-param{
        text-align: center;
    }
    .td-param-left{
        text-align: left;
    }
    .sdfk-table{
        width: 60%;
        margin: auto;
        margin-bottom: 50px;
        background-color: white;
    }
</style>
</body>
</html>

