<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" content="no-store, must-revalidate">
    <meta http-equiv="Expires" content="0">
    <title>法官-案件送达详情</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <link rel="stylesheet" href="js//layer/theme/default/layer.css">
    <script src="/js/common/jquery.min.js"></script>
    <script src="/js/common/jquery-3.3.1.js"></script>
    <script src="/js/common/jquery.dataTables.min.js"></script>
    <script src="/js/common/jquery.cookie.js"></script>
<!--    <script src="/js/common/bootstrap.min.js"></script>-->
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/js/layui/layui.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/templatejs/template-web.js"></script>
    <script src="/js/common/bootstrap-select.min.js"></script>
    <script src="/js/common/common.js?v=2.0"></script>
</head>
<body>
<div id="content"></div>
<div style="width: 100%;height: 80px;background-color: #027bf0">
    <div style="padding-top: 10px;padding-left: 30px;">
        <div style="float: left">
            <img src="/css/img/mySd_fahui.png" height="50px" width="50px" style="margin-top: 5px">
        </div>
        <div style="float: left;padding-top: 10px;padding-bottom: 5px;margin-left: 10px;">
            <div style="color: white;font-size: 30px;" id="current_fymc">天津市高级人民法院</div>
        </div>

        <div id="logout" class="headLogout">
            <button class="myButton"><img src="/css/img/mySD_tuichu.png" height="25px" width="25px"
            >退出系统
            </button>
        </div>
        <div style="margin-right: 100px">
            <div id="userName" style="color: white;font-size: 15px;margin-top: 20px;float: right;">
            </div>
            <div style="color: white;font-size: 15px;margin-top: 20px;float: right;">欢迎 &nbsp; ! &nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>
        <div style="float: right">
            <img src="/css/img/mySd_fahui.png" id="circle" width="50px" height="50px"
                 style="margin-right: 20px;margin-top: 5px">
        </div>
    </div>
</div>
<div style="background-color: rgb(245,245,245);min-height: 60px">
    <div style="margin-left: 15%;">
        <div style="float: left">
            <img src="/css/img/mySd_index.png">
        </div>
        <div style="float: left;margin-top: 15px">
            <h5>&nbsp;&nbsp;当前位置：首页 - &nbsp;&nbsp; </h5>
        </div>
        <div style="float: left;margin-top: 15px">
            <h5 style="color: rgb(0,169,238)">案件列表</h5>
        </div>
    </div>

    <div class="input-group" style="float: right;margin-right: 16%">
        <div>
            <!--            <form class="bs-example bs-example-form" role="form">-->
            <!--                <div class="input-group" style="margin-top: 15px">-->
            <!--                    <input type="text" class="form-control" height="30px" placeholder="站内搜索">-->
            <!--                    <span class="input-group-addon" style="background-color: #027bf0"><img-->
            <!--                            src="/css/img/search_icon.png" height="20px" width="20px"></span>-->
            <!--                </div>-->
            <!--            </form>-->
        </div>
    </div>
</div>
<div style="background-color: rgb(191,191,191);min-height: 1px"></div>


<div id="main_content" style="width: 100%;">
    <div style="width: 15%;float: left;">
        <div style="margin-left: 40%;margin-right: 1%;margin-top: 20px;background: white;height: 400px;">
            <div id="my_sd" style="width:100%;height: 60px;background:url(/css/img/left_wdsd.png) center no-repeat;">

            </div>
            <div id="many_sd" style="margin-top: 10px;">
                <div style="width: 100%; height:300px;margin: auto;top: 0;left: 0;bottom: 0;right: 0;">
                    <a href="#dhsd" class="left_img"
                       style="display:block;background:url(/css/img/left_dhsd.png) center no-repeat;"></a>
                    <a href="#dxtz" class="left_img"
                       style="display:block;background:url(/css/img/left_dxtz.png) center no-repeat;"></a>
                    <a href="#lylq" class="left_img"
                       style="display:block;background:url(/css/img/left_lylq.png) center no-repeat;"></a>
                    <a href="#emssd" class="left_img"
                       style="display:block;background:url(/css/img/left_emssd.png) center no-repeat;"></a>
                    <a href="#zhijsd" class="left_img"
                       style="display:block;background:url(/css/img/left_zjsd.png) center no-repeat;"></a>
                    <a href="#dzsd" class="left_img"
                       style="display:block;background:url(/css/img/left_dzsd.png) center no-repeat;"></a>
                    <a href="#zhuanjsd" class="left_img"
                       style="display:block;background:url(/css/img/left_zhjsd.png) center no-repeat;"></a>
                    <a href="#wtsd" class="left_img"
                       style="display:block;background:url(/css/img/left_wtsd.png) center no-repeat;"></a>
                    <a href="#ggsd" class="left_img"
                       style="display:block;background:url(/css/img/left_ggsd.png) center no-repeat;"></a>

                </div>

            </div>
        </div>
    </div>
    <div style="width: 70%;float: left">
        <div style="margin-left: 1%;margin-right: 1%;margin-top: 20px;background-color: white;min-height: 500px"
             class="lift-target">
            <div style="height: 40px;width: 100%;background-color: #1E9FFF;">
                <div style="float: left;height: 40px;width: 100px;position: relative;">
                    <div style="color: white;height: 20px;width: 280px;margin:auto;top: 0;left: 0;bottom: 0;right: 0;position: absolute;">
                        <div style="margin-left: 20px;">
                            案号： <span id="title_ah" style="width: 200px;"></span>
                        </div>

                    </div>
                </div>
                <div style="height: 40px;float: right;width: 100px;position: relative;">
                    <!--                    <div style="color: white;height: 20px;width: 50px;margin:auto;top: 0;left: 0;bottom: 0;right: 0;position: absolute;">-->
                    <!--                        返回-->
                    <!--                    </div>-->
                </div>

            </div>
            <div style="background-color: rgb(241,241,241);min-height: 1px;"></div>
            <div style="margin-top: 20px;margin-left:30px;margin-bottom:10px;font-size: 15px;font-weight: 500;color: #3c763d">
                <span style="font-size: 20px;margin-right: 10px;">l</span>基本信息
            </div>
            <div style="border: 1px dashed rgb(241,241,241)"></div>
            <div class="t1">
                <table id="jbxx_table" class="table table-bordered table-striped table-condensed myTable">
                    <thead>
                    <tr style="color:rgb(0,169,238);background-color: #b3d7fa">
                        <th style="text-align: center;width: 20%">当事人</th>
                        <th style="text-align: center;width: 10%">诉讼地位</th>
                        <th style="text-align: center;width: 10%">送达状态</th>
                        <th style="text-align: center;width: 10%">是否签署送达地址确认书</th>
                        <th style="text-align: center;width: 10%">是否同意电子送达</th>
                        <th style="text-align: center;width: 55%">添加送达方式</th>

                    </tr>
                    </thead>
                    <tbody id="dsrxx">

                    </tbody>
                </table>
            </div>


            <div style="min-height: 20px;margin-top: 20px;margin-bottom: 10px" id="dhsd">
                <div style="margin-top: 20px;margin-left:30px;margin-bottom:10px;font-size: 15px;font-weight: 500;color: #d58512">
                    <span style="font-size: 20px;margin-right: 10px;">l</span>电话送达
                </div>
                <!--                <div style="float: right;margin-right: 10px">-->
                <!--                    <button class="myButton"><img src="/css/img/delete_icon.png" width="60px" height="24px"></button>-->
                <!--                </div>-->
            </div>
            <div style="border: 1px dashed rgb(241,241,241)"></div>
            <div class="t2">

                <table class="table table-bordered table-striped table-condensed myTable">
                    <thead>
                    <tr style="background-color: #b3d7fa">
                        <th style="text-align: center;width: 20%;color:rgb(0,169,238)">受送达人名称</th>
                        <th style="text-align: center;width: 10%;color:rgb(0,169,238)">被叫号码</th>
                        <th style="text-align: center;width: 10%;color:rgb(0,169,238)">外呼时间</th>
                        <th style="text-align: center;width: 10%;color: red">电话状态</th>
                        <th style="text-align: center;width: 10%;color: red">通话时长</th>
                        <th style="text-align: center;width: 10%;color:rgb(0,169,238)">操纵人/送达专员电话</th>
                        <th style="text-align: center;width: 10%;color:rgb(0,169,238)">备注</th>
                        <th style="text-align: center;width: 10%;color:rgb(0,169,238)">录音</th>
                    </tr>
                    </thead>
                    <tbody id="dhsdxx">

                    </tbody>
                </table>
            </div>
            <div style="min-height: 20px;margin-top: 20px;margin-bottom: 10px" id="dxtz">
                <div style="margin-top: 20px;margin-left:30px;margin-bottom:10px;font-size: 15px;font-weight: 500;color: #3595f3">
                    <span style="font-size: 20px;margin-right: 10px;">l</span>短信通知
                </div>
                <!--                <div style="float: right;margin-right: 10px">-->
                <!--                    <button class="myButton"><img src="/css/img/delete_icon.png" width="60px" height="24px"></button>-->
                <!--                </div>-->
            </div>
            <div style="border: 1px dashed rgb(241,241,241)"></div>
            <div class="t4">
                <table class="table table-bordered table-striped table-condensed myTable" id="dxtz_table">
                    <thead>
                    <tr style="color:rgb(0,169,238);background-color: #b3d7fa">
                        <th style="text-align: center;width: 20%">受送达人名称</th>
                        <th style="text-align: center;width: 8%">短信来源</th>
                        <th style="text-align: center;width: 8%">接收号码</th>
                        <th style="text-align: center;width: 15%">下发时间</th>
                        <th style="text-align: center;width: 5%">短信内容</th>
                        <th style="text-align: center;width: 10%">发送状态</th>
                        <th style="text-align: center;width: 5%">访问状态</th>
                        <th style="text-align: center;width: 5%">文书内容</th>
                    </tr>
                    </thead>
                    <tbody id="dxtzxx">

                    </tbody>
                </table>
            </div>

            <div style="min-height: 20px;margin-top: 20px;margin-bottom: 10px" id="emssd">
                <div style="margin-top: 20px;margin-left:30px;margin-bottom:10px;font-size: 15px;font-weight: 500;color: #b329c7">
                    <span style="font-size: 20px;margin-right: 10px;">l</span>EMS送达
                </div>
                <!--                <div style="float: right;margin-right: 10px">-->
                <!--                    <button class="myButton"><img src="/css/img/delete_icon.png" width="60px" height="24px"></button>-->
                <!--                </div>-->
            </div>
            <div style="border: 1px dashed rgb(241,241,241)"></div>
            <div class="t3">
                <table class="table table-bordered table-striped table-condensed myTable" id="emssd_table">
                    <thead>
                    <tr style="color:rgb(0,169,238);background-color: #b3d7fa">
                        <th style="text-align: center;width: 20%">收件人姓名</th>
                        <th style="text-align: center;width: 30%">邮寄地址</th>
                        <th style="text-align: center;width: 15%">邮寄时间</th>
                        <th style="text-align: center;width: 10%">邮寄单号</th>
                        <th style="text-align: center;width: 10%">寄件人名称</th>
                        <!--      <th style="text-align: center;width: 11%">来源</th>
                              <th style="text-align: center;width: 10%">物流详情</th> -->
                        <th style="text-align: center;width: 8%">送达回执</th>
                        <th style="text-align: center;width: 8%">邮寄面单</th>
                    </tr>
                    </thead>
                    <tbody id="emssd_tbody">

                    </tbody>
                </table>
            </div>
            <div style="min-height: 20px;margin-top: 20px;margin-bottom: 10px" id="dzsd">
                <div style="margin-top: 20px;margin-left:30px;margin-bottom:10px;font-size: 15px;font-weight: 500;color: #ffcc00">
                    <span style="font-size: 20px;margin-right: 10px;">l</span>电子送达
                </div>
                <!--                <div style="float: right;margin-right: 10px">-->
                <!--                    <button class="myButton"><img src="/css/img/delete_icon.png" width="60px" height="24px"></button>-->
                <!--                </div>-->
            </div>
            <div style="border: 1px dashed rgb(241,241,241)"></div>
            <div class="t5">
                <table class="table table-bordered table-striped table-condensed myTable" id="dzsd_table">
                    <thead>
                    <tr style="color:rgb(0,169,238);background-color: #b3d7fa">
                        <th style="text-align: center;width: 12%">送达日期</th>
                        <th style="text-align: center;width: 16%">送达内容</th>
                        <th style="text-align: center;width: 11%">签收人</th>
                        <th style="text-align: center;width: 10%">签收日期</th>
                        <th style="text-align: center;width: 7%">送达回执</th>
                    </tr>
                    </thead>
                    <tbody id="dzsd_table_body">

                    </tbody>

                </table>
            </div>

            <div style="min-height: 20px;margin-top: 20px;margin-bottom: 10px" id="ggsd">
                <div style="margin-top: 20px;margin-left:30px;margin-bottom:10px;font-size: 15px;font-weight: 500;color: #3595f3">
                    <span style="font-size: 20px;margin-right: 10px;">l</span>公告送达
                </div>
                <!--                <div style="float: right;margin-right: 10px">-->
                <!--                    <button class="myButton"><img src="/css/img/delete_icon.png" width="60px" height="24px"></button>-->
                <!--                </div>-->
            </div>
            <div style="border: 1px dashed rgb(241,241,241)"></div>
            <div class="t4">
                <table class="table table-bordered table-striped table-condensed myTable" id="ggsd_table">
                    <thead>
                    <tr style="color:rgb(0,169,238);background-color: #b3d7fa">
                        <th style="text-align: center;width: 8%">被送达人</th>
                        <th style="text-align: center;width: 8%">提交公告日期</th>
                        <th style="text-align: center;width: 26%">公告内容</th>
                        <th style="text-align: center;width: 5%">公告审核状态</th>
                        <th style="text-align: center;width: 10%">导出时间</th>
                    </tr>
                    </thead>
                    <tbody id="ggsd_body">

                    </tbody>
                </table>
            </div>
            <div style="min-height: 20px;margin-top: 20px;margin-bottom: 10px" id="lylq">
                <div style="margin-top: 20px;margin-left:30px;margin-bottom:10px;font-size: 15px;font-weight: 500;color: #ffcc00">
                    <span style="font-size: 20px;margin-right: 10px;">l</span>来院领取
                </div>
                <!--                <div style="float: right;margin-right: 10px">-->
                <!--                    <button class="myButton"><img src="/css/img/delete_icon.png" width="60px" height="24px"></button>-->
                <!--                </div>-->
            </div>
            <div style="border: 1px dashed rgb(241,241,241)"></div>
            <div class="t5">
                <table class="table table-bordered table-striped table-condensed myTable" id="lylq_table">
                    <thead>
                    <tr style="color:rgb(0,169,238);background-color: #b3d7fa">
                        <th style="text-align: center;width: 12%">受送达人名称</th>
                        <th style="text-align: center;width: 12%">发起人</th>
                        <th style="text-align: center;width: 12%">预约领取时间</th>
                        <th style="text-align: center;width: 16%">预约领取地点</th>
                        <th style="text-align: center;width: 11%">领取状态</th>
                        <th style="text-align: center;width: 10%">送达回执</th>
                    </tr>
                    </thead>
                    <tbody id="lylqxx">

                    </tbody>
                </table>
            </div>
            <div style="min-height: 20px;margin-top: 20px;margin-bottom: 10px" id="zhijsd">
                <div style="margin-top: 20px;margin-left:30px;margin-bottom:10px;font-size: 15px;font-weight: 500;color: #ffcc00">
                    <span style="font-size: 20px;margin-right: 10px;">l</span>直接送达
                </div>
                <!--                <div style="float: right;margin-right: 10px">-->
                <!--                    <button class="myButton"><img src="/css/img/delete_icon.png" width="60px" height="24px"></button>-->
                <!--                </div>-->
            </div>
            <div style="border: 1px dashed rgb(241,241,241)"></div>
            <div class="t5">
                <table class="table table-bordered table-striped table-condensed myTable" id="zjsd_table">
                    <thead>
                    <tr style="color:rgb(0,169,238);background-color: #b3d7fa">
                        <th style="text-align: center;width: 12%">当事人名称</th>
                        <th style="text-align: center;width: 16%">送达地址</th>
                        <th style="text-align: center;width: 11%">上门时间</th>
                        <th style="text-align: center;width: 11%">送达过程记录</th>
                        <th style="text-align: center;width: 11%">备注</th>
                        <th style="text-align: center;width: 11%">签收结果</th>
                        <th style="text-align: center;width: 10%">送达回执</th>
                    </tr>
                    </thead>
                    <tbody id="zjsdxx">

                    </tbody>
                </table>
            </div>
            <div style="width: 100%; height: 1px;background-color: white;">

            </div>
        </div>

    </div>
</div>


<!--右边栏填充占位-->
<div style="width: 15%;float: left;height: 600px;">

</div>
</div>
<div style="width: 100%;height: auto;background-color: white;float: left;margin-top: 20px;">
    <div style="margin-left: 16%;margin-right: 16%;">
        <div style="min-height: 20px;margin-top: 20px;margin-bottom: 10px">
            <div style="margin-top: 20px;margin-left:30px;margin-bottom:10px;font-size: 15px;font-weight: 500;color: #00a9ee">
                <span style="font-size: 20px;margin-right: 10px;">l</span>送达日志
            </div>
        </div>
        <div style="border: 1px dashed rgb(241,241,241)"></div>
    </div>
    <div id="nav" style="padding:0cm 5% 1cm 5%;">
        <ul id="buttom_log_ul">
        </ul>
    </div>


</div>
<div style="width: 100%;height: 20px;background-color: white;float: left;"></div>
<div style="width: 100%;height: 40px;background-color: white;float: left;text-align: center">
    <button id="preLogPage">< 上一页</button>
    <button id="nextLogPage">下一页 ></button>
</div>
<div style="width: 100%;height: 30px;background-color: #007DDB;float: left;"></div>
<script id="test" type="text/html">
    {{if isAdmin}}
    {{each list value i}}
    <tr data-hint="1">
        <td class=".js_light_blue_font">{{list[i].ssdrmc}}</td>
        <td class=".js_light_blue_font">{{list[i].ssdw}}</td>
        <td class=".js_light_blue_font">{{list[i].sdzt}}</td>
        <td class=".js_light_blue_font">{{list[i].sfqsqrs}}
            <button id="qsqrs_update" class="myButton" data-index={{i}} onclick="qsqrs_update(this)"><img
                    src="/css/img/component_update.png" style="margin-left: 10px"></button>
        </td>
        <td class=".js_light_blue_font">{{list[i].sftydzsd}}
            <button id="tydzsd_update" class="myButton" data-index={{i}} onclick="tydzsd_update(this)"><img
                    src="/css/img/component_update.png" style="margin-left: 10px"></button>
        </td>
        <td>
            <div class="nine_button">
                <button data-type="dhsd.aj" class="myButton dh_songda" data-index={{i}}><img
                        src="/css/img/list_dhsd.png" width="36px"
                        height="36px"
                        style="margin-left: -7px"></button>
                <button data-type="dxtz.aj" class="myButton dxtz_songda" data-index={{i}}><img
                        src="/css/img/list_dxtz.png" width="36px"
                        height="36px"
                        style="margin-left: 3px"></button>
                <button data-type="lylq.aj" class="myButton lylq_songda" data-index={{i}}><img
                        src="/css/img/list_lylq.png" width="36px"
                        height="36px"
                        style="margin-left: 3px"></button>
                <button data-type="emssd.aj" class="myButton ems_songda" data-index={{i}}><img
                        src="/css/img/list_emssd.png" width="36px"
                        height="36px"
                        style="margin-left: 3px"></button>
                <!--     <button data-type="zjsd.aj" class="myButton zj_songda" data-index={{i}}><img src="/css/img/list_zjsd.png" width="36px"
                                                                                 height="36px"
                                                                                 style="margin-left: 3px"></button> -->
                <button data-type="dzsd.aj" class="myButton dz_songda" data-index={{i}}><img
                        src="/css/img/list_dzsd.png" width="36px"
                        height="36px"
                        style="margin-left: 3px"></button>
                <!--          <button data-type="zhjsd.aj" class="myButton zhj_songda" data-index={{i}}><img src="/css/img/list_zhjsd.png" width="36px"
                                                                                        height="36px"
                                                                                        style="margin-left: 3px"></button>
                          <button data-type="wtsd.aj" class="myButton wt_songda" data-index={{i}}><img src="/css/img/list_wtsd.png" width="36px"
                                                                                      height="36px"
                                                                                      style="margin-left: 3px"></button>  -->
                <button data-type="ggsd.aj" class="myButton gg_songda" data-index={{i}}><img
                        src="/css/img/list_ggsd.png" width="36px"
                        height="36px"
                        style="margin-left: 3px"></button>


            </div>

        </td>
    </tr>
    {{/each}}
    {{/if}}


</script>

<!-- 新增短信通知记录弹窗 步骤1 -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="addDxtzModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel1">
                    短信通知
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label cus-required">案号：</label>
                        <div class="col-sm-10" id="gdh">
                            <p class="form-control-static"><label class="case-no"></label></p>
                        </div>
                    </div>
                    <div style="display: none" id="sdp" class="form-group">
                        <label class="col-sm-2 control-label cus-required" id="dxtz_dsr">当事人：</label>
                    </div>
                    <div id="dxtz-zhuti">
                        <hr/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label cus-required">下发号码：</label>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <th>当事人名称</th>
                            <th>电话</th>
                            </thead>
                            <tbody id="tel-tbody1">
                            </tbody>
                        </table>
                        <hr/>
                        <!--                        短信模板选择-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label cus-required">短信模板：</label>
                            <div class="col-sm-10">
                                <select id="dxtz-dxmb-input" class="form-control">
                                    <option>请选择短信模板</option>
                                    <option value="1">测试模板</option>
                                </select>
                            </div>
                        </div>
                        <!--                        短信模板参数填充动态表单-->
                        <div id="dxtz-param">
                            <hr/>
                            <!--                                短信通知模板填充部分-->
                            <div id="dxtz-mbtc">
                            </div>
                        </div>
                    </div>
                </form>

                <div style="display: none" id="uploadFileShow" class="layui-upload">
                    <button id="uploadFile" class="layui-btn layui-btn-normal" style="margin-top: 20px">上传pdf文件</button>
                    <button class="layui-btn layui-btn-normal" id="sclj-btn" style="margin-top: 20px" onclick="sclj()">
                        生成链接
                    </button>
                    <p style="color: red">目前支持上传的文件类型：png, gif, jepg, jpg, pdf文件</p>
                    <div class="layui-upload-list">
                        <table class="layui-table">
                            <thead>
                            <tr>
                                <th>文件名</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="demoList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" id="sendMSg">
                    发送短信
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="addLylqModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel2">
                    新增来院领取任务
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label cus-required">案号：</label>
                        <div class="col-sm-10">
                            <p class="form-control-static"><label class="case-no"></label></p>
                        </div>
                    </div>
                    <div style="display: none" class="form-group">
                        <label class="col-sm-2 control-label cus-required">当事人：</label>
                        <div class="col-sm-10">
                            <p class="form-control-static"><label class="sdp-name"></label></p>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label cus-required">预约时间：</label>
                        <div class="col-sm-10">
                            <input type="text" readonly placeholder="请选择来院领取时间" class="form-control lylq-yysj-input"
                                   id="lylq-yysj-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label cus-required">预约地点：</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="请输入预约地点" class="form-control" id="lylq-address-input">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="submit-lylq">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="/js/fg/mySongda.js?v=1.24"></script>


<style>
    #circle {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    body {
        background-color: rgb(241, 241, 241);
        margin: 0;
        padding: 0;
    }

    .myButton {
        border: none;
        background-color: transparent;
        outline: none;
        outline-color: rgba(255, 255, 255, 0);

    }

    .myTable {
        vertical-align: middle;
        text-align: center;
        margin-top: 10px;
        height: 40px;
        font-size: 15px;
        width: 96%;
        margin-left: 2%
    }

    .left_img {
        margin-top: 15px;
        height: 20px;
        width: 80%;
        margin-left: 10%;
        background-size: cover;
        cursor: pointer;
    }

    #nav {
        height: auto;
    }

    #nav ul {
        list-style: none;
    }

    #nav li {
        display: inline;
        /*line-height: 40px;*/
        float: left;
        /*margin-left: 20px;*/
    }

    .bottom_li_div {
        height: auto;
        width: 220px;
        /*background-color: #6D6D6D;*/
        text-align: center;
    }

    .dxmb-param.form-control {
        display: inline;
        width: auto;
        margin-top: 5px;
    }

    .input-error {
        border: 1px solid red;
    }

    .dxmb-param-fymc {
        /*border: none;*/
        padding: 0px;
        text-align: center;
    }


</style>
<script>


</script>
</body>
</html>

