<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.sdpt.mapper.PubDxmbInfoEntityMapper">
  <resultMap id="BaseResultMap" type="com.nju.sdpt.entity.PubDxmbInfoEntity">
    <constructor>
      <idArg column="bh" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="mbmc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mbhsy" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fybh" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mbzt" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cjsj" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="mbnr" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    bh, mbmc, mbhsy, fybh, mbzt, cjsj, mbnr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pub_dxmb_info
    where bh = #{bh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pub_dxmb_info
    where bh = #{bh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nju.sdpt.entity.PubDxmbInfoEntity">
    <selectKey keyProperty="bh" order="BEFORE" resultType="java.lang.Integer">
      select nextval('pub_dxmb_info_bh_seq'::regclass)
    </selectKey>
    insert into pub_dxmb_info (bh, mbmc, mbhsy, 
      fybh, mbzt, cjsj, 
      mbnr)
    values (#{bh,jdbcType=INTEGER}, #{mbmc,jdbcType=VARCHAR}, #{mbhsy,jdbcType=VARCHAR}, 
      #{fybh,jdbcType=VARCHAR}, #{mbzt,jdbcType=INTEGER}, #{cjsj,jdbcType=TIMESTAMP}, 
      #{mbnr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nju.sdpt.entity.PubDxmbInfoEntity">
    <selectKey keyProperty="bh" order="BEFORE" resultType="java.lang.Integer">
      select nextval('pub_dxmb_info_bh_seq'::regclass)
    </selectKey>
    insert into pub_dxmb_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      bh,
      <if test="mbmc != null">
        mbmc,
      </if>
      <if test="mbhsy != null">
        mbhsy,
      </if>
      <if test="fybh != null">
        fybh,
      </if>
      <if test="mbzt != null">
        mbzt,
      </if>
      <if test="cjsj != null">
        cjsj,
      </if>
      <if test="mbnr != null">
        mbnr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{bh,jdbcType=INTEGER},
      <if test="mbmc != null">
        #{mbmc,jdbcType=VARCHAR},
      </if>
      <if test="mbhsy != null">
        #{mbhsy,jdbcType=VARCHAR},
      </if>
      <if test="fybh != null">
        #{fybh,jdbcType=VARCHAR},
      </if>
      <if test="mbzt != null">
        #{mbzt,jdbcType=INTEGER},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="mbnr != null">
        #{mbnr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nju.sdpt.entity.PubDxmbInfoEntity">
    update pub_dxmb_info
    <set>
      <if test="mbmc != null">
        mbmc = #{mbmc,jdbcType=VARCHAR},
      </if>
      <if test="mbhsy != null">
        mbhsy = #{mbhsy,jdbcType=VARCHAR},
      </if>
      <if test="fybh != null">
        fybh = #{fybh,jdbcType=VARCHAR},
      </if>
      <if test="mbzt != null">
        mbzt = #{mbzt,jdbcType=INTEGER},
      </if>
      <if test="cjsj != null">
        cjsj = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="mbnr != null">
        mbnr = #{mbnr,jdbcType=VARCHAR},
      </if>
    </set>
    where bh = #{bh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nju.sdpt.entity.PubDxmbInfoEntity">
    update pub_dxmb_info
    set mbmc = #{mbmc,jdbcType=VARCHAR},
      mbhsy = #{mbhsy,jdbcType=VARCHAR},
      fybh = #{fybh,jdbcType=VARCHAR},
      mbzt = #{mbzt,jdbcType=INTEGER},
      cjsj = #{cjsj,jdbcType=TIMESTAMP},
      mbnr = #{mbnr,jdbcType=VARCHAR}
    where bh = #{bh,jdbcType=INTEGER}
  </update>
</mapper>