.indexLogout{
    color: #2e6da4;
    font-size: 15px;
    float: right;
    cursor: pointer;
    border-color:  rgb(0,169,238);
    border-radius:20px;
    background-color: transparent;
}
.headLogout{
    color: white;
    font-size: 15px;
    margin-top: 15px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
}
#return_main{
    cursor: pointer;
}
.myButton{
    border: none;
    background-color: transparent;
    outline: none;
    outline-color: rgba(255,255,255,0);.
    cursor: pointer;
}

.yellow{
    color: yellow;
}
.white{
    color: white;
}
