<div id="rwlz_pop" style="display: none; width: 80%;margin-left: 20%" >
<!--    <div style="min-height: 2em"></div>-->
<!--    <div class="form-group">-->
<!--        <label class="col-sm-4 control-label">流转方式：</label>-->
<!--        <div class="col-sm-8">-->
<!--            <select  class="select_wtfs form-control" id="select_wtfs" data-id="select_wtfs"  onchange="changeWtfs(this)">-->
<!--                <option value=""></option>-->
<!--                <option value="DHSD">电话送达</option>-->
<!--                <option value="DXSD">短信送达</option>-->
<!--                <option value="EMS">邮寄送达</option>-->
<!--                <option value="LYLQ">来院领取</option>-->
<!--                <option value="ZZSD">直接送达</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
    <div style="min-height: 2em"></div>
    <div class="form-group">
        <label class="col-sm-6 control-label">本院送达员：</label>
        <div class="col-sm-8">
            <select class="form-control selectedWtclr" id="sdry_select">
                <option value="">请选择送达员</option>
            </select>
        </div>
    </div>
<!--    <div style="min-height: 5em"></div>-->
<!--    <div class="form-group">-->
<!--        <label class="col-sm-4 control-label">全市送达员：</label>-->
<!--        <div class="col-sm-8">-->
<!--            <select class="form-control selectedWtclr" id="sdfy_select">-->
<!--                <option value="">请选择法院</option>-->
<!--            </select>-->
<!--            <select class="form-control selectedWtclr" id="sdfysdy_select">-->
<!--                <option value=""></option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div style="min-height: 5em"></div>-->
    <button type="button" class="btn btn-primary"  style="margin-left: 25%" id="submit_rwlz" onclick="submitRwlz()">
        确定
    </button>
</div>